MVCApplication/Connected Services/DataLayer/DataProviderService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="OsobaCollection">
    <xs:sequence>
      <xs:element name="_x003C_OsobyList_x003E_k__BackingField" nillable="true" type="tns:ArrayOfOsoba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OsobaCollection" nillable="true" type="tns:OsobaCollection" />
  <xs:complexType name="ArrayOfOsoba">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Osoba" nillable="true" type="tns:Osoba" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOsoba" nillable="true" type="tns:ArrayOfOsoba" />
  <xs:complexType name="Osoba">
    <xs:sequence>
      <xs:element name="_x003C_Adresa_x003E_k__BackingField" nillable="true" type="tns:Adresa" />
      <xs:element name="_x003C_DatumNarodenia_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Meno_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Priezvisko_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Osoba" nillable="true" type="tns:Osoba" />
  <xs:complexType name="Adresa">
    <xs:sequence>
      <xs:element name="_x003C_Cislo_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Ulica_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Adresa" nillable="true" type="tns:Adresa" />
</xs:schema>